.project-list {
  list-style: none;
}

.active-project {
  background-color: #22790c;
  color: white;
  padding: 5px;
}

.cursor {
  cursor: pointer;
}

.emoji-face {
  font-size: 100px;
}

.social-icon {
  font-size: 36px;
}
